body {
  width: 98vw;
  /* background-color: #201c2b; */
  /* background: linear-gradient(
    to right,
    #201c2b 0%,
    #201c2b 50%,
    #101010 50%,
    #101010 100%
  ); */

  color: white;
  padding: 0;
  margin: 0;
  position: relative;
}
html {
  font-size: 16px;
}

.headerContainer {
  display: flex;
  width: 100%;
  /* margin-top: 30px; */
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  /* background: radial-gradient(100% 200% at left, #201c2b 50%, black 50%); */

  /* border-bottom: 1px solid white;
  border-bottom-left-radius: 20px 20px;
  border-top-left-radius: 20px 20px; */

  /* justify-content: space-around; */
}
.navBar {
  display: flex;
  align-items: center;
  width: 60%;
  /* justify-content: flex-end; */
}
.myName {
  width: 30%;
  align-self: flex-start;
}
.navBar2 {
  /* width: 60vw; */
  width: 30vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(90deg);
  position: fixed;
  top: 310px;
  right: 0px;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.pictureHere {
  /* margin: 20px; */
  display: flex;
  /* margin-top: 50px; */
  height: 65vh;
  width: 100%;

  align-items: flex-end;
  justify-content: space-around;
}
.pictureHere img {
  height: 65vh;
  width: 30vw;
  position: absolute;
  left: -6px;
  object-fit: contain;
  border-bottom-left-radius: 80px 80px;
}
.pictureHere p {
  font-size: 18px;
}
.fullStack {
  position: absolute;
  top: 45vh;
}
.fullStack p {
  font-size: 1.7rem;
}
.aboutMe {
  text-align: left;
  position: absolute;
  right: 350px;
  width: 45vw;
}

main {
  height: 100vh;
  /* background: radial-gradient(100% 200% at left, #201c2b 50%, black 50%); */
}
