body {
  /* background-color: #201c2b; */
  /* background: linear-gradient(
    to right,
    #201c2b 0%,
    #201c2b 50%,
    #101010 50%,
    #101010 100%
  ); */
  text-align: center;
  height: 100%;
  width: 100vw;
  background: radial-gradient(100% 200% at left, #201c2b 50%, black 50%);
  color: white;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

.headerContainer {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-around;
}
.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerContainer p {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
}
.myName {
  width: 100%;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* width: 60%; */
  /* justify-content: flex-end; */
}

.navLi {
  margin-right: 7%;
  text-decoration: none;
  color: white;
}
.navBar2 {
  /* width: 60vw; */
  display: flex;
  color: white;

  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}
li {
  list-style-type: none;
}
.pictureHere {
  display: flex;

  height: 63vh;
  width: 100%;

  align-items: flex-end;
  justify-content: space-around;
}
.pictureHere img {
  height: 55vh;
  width: 30vw;
  position: absolute;
  left: 20px;
  top: 138px;
  object-fit: contain;
  border-bottom-left-radius: 40px 40px;
}
.pictureHere p {
  font-size: 1.1rem;
}
.fullStack {
  position: absolute;
  top: 45vh;
}
.fullStack p {
  font-size: 1.7rem;
}
.aboutMe {
  text-align: left;
  position: absolute;
  right: 350px;
  width: 45vw;
}

main {
  height: 100vh;
  /* background: radial-gradient(100% 200% at left, #201c2b 50%, black 50%); */
}

@media screen and (max-width: 1400px) {
  .pictureHere {
    height: 65vh;
  }
  .pictureHere img {
    height: 50vh;
    top: 136px;
    left: 15px;
  }
  .myName h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .pictureHere {
    height: 65vh;
  }
  .pictureHere img {
    height: 50vh;
    top: 136px;
    left: 12px;
  }
  .myName {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .navBar {
    display: none;
  }
  .navBar2 {
    display: none;
  }
  .myName {
    font-size: 1rem;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }
}
