
.sideBar {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 3.2vw;
  background-color: #201c2b;
  position: absolute;
  z-index: 1000;
  /* left: -20px; */
}
/* .myName{
  
} */

@media screen and (max-width: 1600px) {
  .sideBar {
    height: 100vh;
    width: 3vw;
    background-color: #201c2b;
    position: absolute;
    z-index: 1000;
    /* left: -20px; */
  }
}
@media screen and (max-width: 600px) {
  .dropDiv {
    width: 100%;
  }
  .dropDownButton {
    background-color: #201c2b;
    color: white;
    border: 1px solid black;
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 0px;

    /* height: 10%; */
  }
  .dropdown-menu {
    display: flex;
    /* so that when we do position absolute it doesnt resize container */
    flex-direction: column;
    /* to stop from resizing */
    position: absolute;
    /* for click to work */
    z-index: 1;
  }
  .dropdown-item {
    background-color: #201c2b;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 5rem;
    height: 5%;
  }

  .item {
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 600px) {
  .dropDownButton {
    display: none;
  }
}
